# Add any directories, files, or patterns you don't want to be tracked by version control
.idea
*.iml

## File-based project format:
*.iws

## Plugin-specific files:

# IntelliJ
/out/

# mpeltonen/sbt-idea plugin
.idea_modules/


aws
target